{
  "dependencies": ["qt5ct-kde", "breeze", "breeze-gtk", "papirus-icon-theme", "capitaine-cursors"],
  "gtk":
    {
      "gtk-theme-name": "Breeze",
      "gtk-icon-theme-name": "Papirus-Light",
      "gtk-font-name": "Noto Sans 11",
      "gtk-cursor-theme-name": "capitaine-cursors",
      "gtk-cursor-theme-size": "0"
    },
  "qt":
    {
      "color_scheme_path": "/usr/share/color-schemes/Breeze.colors",
      "style": "Breeze",
      "icon_theme": "Papirus-Light",
      "custom_palette": "true",
      "standard_dialogs": "default"
    },
  "i3wm":
    {
      "i3wm-theme": "i3-base16-default-light.config",
      "colorbg": "",
      "colorfg": ""
    },
  "i3status":
    {
      "i3status-theme": "i3status-base16-default-light.config",
      "color_good": "",
      "color_bad": "",
      "color_degraded": ""
    },
  "dunst":
    {
      "dunst-theme": "auto",
      "urgencyLow-BackgroundColor": "#222222",
      "urgencyLow-ForegroundColor": "#888888",
      "urgencyNormal-BackgroundColor": "#285577",
      "urgencyNormal-ForegroundColor": "#ffffff",
      "urgencyCritical-BackgroundColor": "#900000",
      "urgencyCritical-ForegroundColor": "#ffffff"
    },
  "kitty": "kitty-base16-default-light-256.conf",
  "xresources": "xresources-base16-default-light-256.Xresources",
  "wallpaper": "pexels-aleksandar-pasaric-325185.jpg"
}


