{
  "dependencies": ["qt5ct-kde", "breeze", "breeze-gtk", "papirus-icon-theme", "capitaine-cursors"],
  "gtk":
    {
      "gtk-theme-name": "Breeze-Dark",
      "gtk-icon-theme-name": "Papirus-Dark",
      "gtk-font-name": "Noto Sans 11",
      "gtk-cursor-theme-name": "capitaine-cursors",
      "gtk-cursor-theme-size": "0"
    },
  "qt":
    {
      "color_scheme_path": "/usr/share/color-schemes/BreezeDark.colors",
      "custom_palette": "true",
      "icon_theme": "Papirus-Dark",
      "standard_dialogs": "default",
      "style": "Breeze"
    },
  "i3wm":
    {
      "i3wm-theme": "i3-base16-default-dark.config"
    },
  "i3status":
    {
      "i3status-theme": "i3status-base16-default-dark.config"
    },
  "dunst":
    {
      "dunst-theme": "auto",
      "frameColor": "#aaaaaa",
      "frameWidth": "3",
      "urgencyLow-BackgroundColor": "#222222",
      "urgencyLow-ForegroundColor": "#888888",
      "urgencyNormal-BackgroundColor": "#285577",
      "urgencyNormal-ForegroundColor": "#ffffff",
      "urgencyCritical-BackgroundColor": "#900000",
      "urgencyCritical-ForegroundColor": "#ffffff"
    },
  "kitty": "kitty-base16-default-dark-256.conf",
  "xresources": "xresources-base16-default-dark-256.Xresources",
  "wallpaper": "i3wm-by-qpersonq.png",
  "wallpaper-source" : "https://www.reddit.com/r/i3wm/comments/s262fb/i3wm_3860x2140_made_for_the_community_hope_you/"
}


