{
  "gtk":
    {
      "gtk-theme-name": "Breeze-Dark",
      "gtk-icon-theme-name": "Papirus-Dark",
      "gtk-font-name": "Noto Sans 11",
      "gtk-cursor-theme-name": "capitaine-cursors",
      "gtk-cursor-theme-size": "0"
    },
  "qt":
    {
      "color_scheme_path": "/usr/share/color-schemes/BreezeDark.colors",
      "style": "Breeze",
      "icon_theme": "Papirus-Dark"
    }
}
